{% extends 'navigationbar.html' %}
{% load static%}
{% block body %}
<style>
    body{
        background: url('{% static "images/100.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
</style>

<div class="container" style="margin-top:70px">
<h2 class="text-center text-primary font-weight-bold">Add Equipment</h2>

    <form method="post">
        {% csrf_token %}

        <label><b>Equipment Name</b></label>
        <input type= "text" name="name" class="form-control" required>
        <label><b>Price(In Rs.)</b></label>
        <input type= "text" name ="price" class="form-control" required>
        <label><b>Unit</b></label>
        <input type= "text" name="unit" class="form-control" required>
        <label><b>Purchase Date</b></label>
        <input type= "date" name="date" class="form-control" required>
        <label><b>Description</b></label>
        <textarea class="form-control" name="description"></textarea>
        <br>
        <input type= submit value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% ifequal error "no" %}
<script>
    alert('Record Saved Succesfully');
    window.location=('{% url 'vequip' %}');   
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong , Try Again');
</script>
{% endifequal %}

{% endblock %}