{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<style>
    body{
        background: url('{% static "images/100.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
</style>
<div class="container" style="margin-top:70px">
<h2 class="text-center text-primary font-weight-bold">View Equipment</h2>
    <br>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>Equipment Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Purchase Date</th>
                <th>Description</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody>
        {% for i in equipment %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td>{{i.unit}}</td>
            <td>{{i.date}}</td>
            <td>{{i.description}}</td>
            <td><a class="btn btn-danger" href="{% url 'deleteequipment' i.id%}" onclick="return confirm('Are You Sure?')">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}