{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<style>
    body{
        background: url('{% static "images/100.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
</style>

<div class="container" style="margin-top:70px">
<h2 class="text-center text-primary font-weight-bold">View Member</h2>
    <table id="example" class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>EmailID</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Plan Name</th>
            <th>JoinDate</th>
            <th>ExpireDate</th>
            <th>InitialAmount</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        {% for i in member %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.emailid}}</td>
            <td>{{i.age}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.plan}}</td>
            <td>{{i.joindate}}</td>
            <td>{{i.expiredate}}</td>
            <td>{{i.initialamount}}</td>
            
            <td><a class="btn btn-danger" href="{% url 'deletemember' i.id%}" onclick="return confirm('Are You Sure?')">Delete</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {% endblock %}